<form class="row mb-5 p-4 bg-light rounded shadow-sm">
  <div class="col-md-4 mb-3">
    <label for="pais" class="form-label">País</label>
    <select [(ngModel)]="selectedPais" name="pais" class="form-control" (change)="onPaisChange()">
      <option value="">-- Seleccionar --</option>
      <option *ngFor="let pais of paises" [value]="pais">{{ pais }}</option>
    </select>
  </div>

  <div class="col-md-4 mb-3" *ngIf="selectedPais === 'Argentina'">
    <label for="provincia" class="form-label">Provincia</label>
    <select [(ngModel)]="selectedProvincia" name="provincia" class="form-control" (change)="onProvinciaChange()">
      <option value="">-- Seleccionar --</option>
      <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
    </select>
  </div>

  <div class="col-md-4 mb-3" *ngIf="selectedProvincia">
    <label for="localidad" class="form-label">Localidad</label>
    <select [(ngModel)]="selectedLocalidad" name="localidad" class="form-control">
      <option value="">-- Seleccionar --</option>
      <option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad }}</option>
    </select>
  </div>

  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary mt-3 px-4" (click)="buscar()">Buscar</button>
  </div>
</form>

