<div class="container mt-4">

  <!-- Título principal -->
  <div class="text-center mb-5">
    <h1 class="display-4">Encuentra la Sucursal Más Cercana</h1>
    <p class="lead">Seleccione los filtros para ubicar nuestras sucursales en Argentina</p>
  </div>

  <!-- Formulario de selección de país, provincia, localidad y supermercado -->

  <form class="row mb-5 p-4 bg-light rounded shadow-sm">
    <div class="col-md-4 mb-3">
      <label for="supermercado" class="form-label">Supermercado</label>
      <select [(ngModel)]="selectedSupermercado" name="supermercado" class="form-control" (change)="onSupermercadoChange()">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let supermercado of supermercados" [value]="supermercado">{{ supermercado }}</option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <label for="pais" class="form-label">País</label>
      <select [(ngModel)]="selectedPais" id="pais" name="pais" class="form-control" (change)="onPaisChange()">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let pais of paises" [value]="pais">{{ pais }}</option>
      </select>
    </div>

    <div class="col-md-4 mb-3" *ngIf="selectedPais === 'Argentina'">
      <label for="provincia" class="form-label">Provincia</label>
      <select [(ngModel)]="selectedProvincia" id="provincia" name="provincia" class="form-control" (change)="onProvinciaChange()">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
      </select>
    </div>

    <div class="col-md-4 mb-3" *ngIf="selectedProvincia">
      <label for="localidad" class="form-label">Localidad</label>
      <select [(ngModel)]="selectedLocalidad" id="localidad" name="localidad" class="form-control">
        <option value="">-- Seleccionar --</option>
        <option *ngFor="let localidad of localidades" [value]="localidad">{{ localidad }}</option>
      </select>
    </div>

    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary mt-3 px-4" (click)="buscarSucursales()">Buscar</button>
    </div>
  </form>

  <!-- Mostrar la tabla solo si showTable es true -->
  <div *ngIf="showTable" class="table-responsive mt-4">
    <div *ngIf="filteredSucursales.length > 0">
      <h3 class="text-center mb-4">Lista de Sucursales en Argentina</h3>
      <table class="table table-hover table-striped shadow-sm rounded">
        <thead class="table-primary">
        <tr>
          <th>#</th>
          <th>Calle</th>
          <th>Nro Calle</th>
          <th>Teléfonos</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Habilitada</th>
          <th>Localidad</th>
          <th>Provincia</th>
          <th>Horarios</th>
          <th>Servicios</th>
          <th>Productos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sucursal of filteredSucursales">
          <td>{{ sucursal.nroSucursal }}</td>
          <td>{{ sucursal.calle }}</td>
          <td>{{ sucursal.nroCalle }}</td>
          <td>{{ sucursal.telefonos }}</td>
          <td>{{ sucursal.coordLatitud }}</td>
          <td>{{ sucursal.coordLongitud }}</td>
          <td>{{ sucursal.habilitada ? 'Sí' : 'No' }}</td>
          <td>{{ sucursal.nomLocalidad }}</td>
          <td>{{ sucursal.nomProvincia }}</td>
          <td>{{ sucursal.horarios }}</td>
          <td>{{ sucursal.tipos_servicios }}</td>
          <td>{{ sucursal.productos }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="filteredSucursales.length === 0 && selectedPais === 'Argentina'" class="alert alert-warning text-center mt-4">
      <p>No se encontraron sucursales para los filtros seleccionados.</p>
    </div>
  </div>
</div>
